{
  "extends": "fullcube/mocha",
  "globals": {
    "app": true,
    "ref": true,
    "lt": true,
    "assert": true,
    "nock": true,
    "expect": true,
    "_": true,
    "fs": true,
    "chai": true,
    "sinon": true
  },
  "rules": {
    "filenames/match-regex": 0,
    "global-require": 0,
    "max-nested-callbacks": 0,
    "no-console": 0
  }
}
